<launch>
    <!-- 1.需要在参数服务器中载入 urdf -->
    <param name="robot_description" command="$(find xacro)/xacro $(find ship_rviz_gazebo)/xacro/ship.urdf.xacro" />
    <!-- 2.启动gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ship_rviz_gazebo)/worlds/w.world" />
    </include>
    <!-- 3.在gazebo中添加机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model mycar -param robot_description" />
</launch>