<launch>
    <!-- 启动OctoMap节点 -->
    <node name="octomap_node" pkg="octomap_server" type="octomap_server_node" output="screen">
        <!-- 设置参数 -->
        <param name="frame_id" type="string" value="odom" />
        <param name="resolution" value="0.05" />

        <!-- <param name="update_rate" value="15.0" /> -->

		<param name="sensor_model/max_range" value="100.0" />
    	<param name="latch" value="true" />
    	<param name="pointcloud_max_z" value="3.0" />
		<param name="pointcloud_min_z" value="0.0" />
    	<param name="ground_filter_angle" value="3.14" />

        <remap from="cloud_in" to="/velodyne_points" />
        <param name="use_sim_time" value="true" />
    </node>
</launch>
